<!DOCTYPE html>
<html lang="en">

<head>
    {{> headTags }}

    <style>
        #nav-about {
            color: #fff;
        }
    </style>

    <title>About</title>
</head>

<body>

    {{> header }}

    <main class="container">

        <article class="lead">

            <h2 class="text-center mt-4">
                About
            </h2>

            <p>
                This app was developed by instructions of an Udemy course. This specific version was made by myself (alone) to practice more in depth the concepts taught. However, the general idea and techniques are all from the Udemy instructor. 
            </p>
            <p>
                This uses <a href="https://www.mapbox.com/">Mapbox</a> and <a href="https://weatherstack.com/">weatherstack</a> APIs on back-end.
            </p>
            <p>
                On front-end, <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://handlebarsjs.com/">Handlebars</a> were used.
            </p>
        </article>
    </main>

    {{> footer }}

</body>

</html>